@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    padding: 1%;
    background-color: #311F15;
    overflow-x: hidden;
}

/* ------------- Header ------------ */
header,
.container-loc,
footer{
    border-radius: 20px;
    background-color: #825524;
}

header{
    display: flex;
    width: 100%;
    max-height: 80px;
}

.sidebar{
    position: fixed;
    width: 250px;
    right: 0;
}

.show-navbar{
    text-align: end;
    margin: 10% 10% 10px 0;  
    font-size: 30px;
}

.icon-hamburger,
.icon-x{
    color: #fff;
}

.icon-x{
    display: none;
}

.navbar{
    transition: all 0.5;
    background-color: rgba(73, 48, 21, 0.4);
}

.logo{
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 15px;
}

.logo a{
    color: #fff;
}

.title{
    margin: auto 10px;
}

.title-web,
.sub-title{
    font-family: 'Indie Flower', cursive;
}

.navbar{
    display: none;
}

nav ul{
    height: 100%;
    width: 100%;
}

nav ul li{
    line-height: 60px;
    border-bottom: 1px solid #4a3014;
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    padding-left: 15%;
    display: block;
    font-weight: 600;
    width: 100%;
    border-left: 3px solid transparent;

}

nav ul li a:hover{
    background-color: #4a3014;
    border-left-color: #ff8500;
}

.list-sub-menu{
    display: none;

}

nav .navbar .list-sub-menu .sub-menu{
    line-height: 42px;
    border-bottom: none;
}

.list-sub-menu.show{
    display: block;
}

.sub-menu a{
    font-size: 14px;
    padding-left: 30%;
}

.menu .arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 22px;
}

/* Location */
.container-loc {
    margin: 20px 0;
    padding: 20px;
}

.loc__body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    max-height: 700px;
    height: 700px;
}

.loc__content {
    width: 35%;
}

.location{
    width: 35%;
    border-radius: 40px;
    display: none;
}

.loc__heading {
    margin-bottom: 30px;
    width: 50%;
  }

  .loc__header{
      color: #ff8500;
  }

.loc__our {
    width: 65%;
    background-color: #4a3014;
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.loc__our-name {
    text-align: center;
    font-size: 16px;
  }

  .loc__our-address {
    font-size: 12px;
    margin-top: 10px;
  }

.loc__our:hover{
    box-shadow: 0px 5px 10px #4a3014;
}

.loc__our:active{
    box-shadow: 0px 0px 0px #4a3014;
}

.active{
    box-shadow: 0px 5px 10px #4a3014;
}

.show-location{
    display: block;
}

/* Footer */
/* ------------------ Footer ------------------  */
footer{
    margin: 15px 0;
    background-color: #623b11;
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    
}



.footer__product--title,
.footer__store--title,
.footer__contact--title{
    color: #e38f55;
    text-align: center;
    font-weight: bold;
}

.footer__product--title::after,
.footer__store--title::after,
.footer__contact--title::after{
    content: "";
    display: inline-block;
    border-bottom: 3px solid;
    margin-top: 5px;
    text-align: center;
    width: 75%;
}

footer a{
    color: #fff;
}

.footer__logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__heading{
    display: flex;
}

.footer__title{
    margin: auto 10px;
}

.footer__icons{
    margin: 10px 5%;
    font-size: 0; /* For remove Whitespaces */
}

.footer__icon{
    margin: 0 5px;
    font-size: 1rem;
}

.footer__right{
    display: flex;
    margin: 10px 0;
}

.footer__right ul{
    margin:15px;
    text-align: center;
}

.footer__product--sub,
.footer__store--sub,
.footer__contact--sub{
    margin: 5px 0;
    font-size: 15px;
    line-height: 40px;
    background-color: #4a3014;
    border-radius: 10px;
    padding: 10px 20px;
}

.copyright{
    width:100%;
    text-align: center;
}

.footer--arrow{
    display: none;
}

/* Animation */
@keyframes Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive */
@media (max-width: 1024px) {
    html{
        font-size: 75%;
    }

    .footer__right{
        display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    }

    .footer__logo{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__product--title::after,
    .footer__store--title::after,
    .footer__contact--title::after{
    display: none;
    }

    .footer__product--sub{
        padding: 0;
    }

    .footer__title-web{
        font-size: 24px;
    }

    .footer__sub-web{
        font-size: 14px;
    }

    .footer__icons{
        margin:0;
    }

    .footer--arrow{
        display: inline-block;
    }

    .show-sub-footer{
        background-color: #311F15;
        padding: 10px 20px;
        border-radius: 40px;
        cursor: pointer;
    }

    .sub__footer{
    display: none;
}
}

@media screen and (max-width: 768px) {
    html{
        font-size: 62.5%;
    }

    .loc__body{
        flex-direction: column;
    }

    .location{
        width: 100%;
        margin-bottom: 10px;
    }

    .loc__content {
        width: auto;
      }

    .loc__heading {
        margin: 15px 0;
        width: auto;
        font-size: 14px;
        text-align: center;
      }

      .loc__our {
        width: 100%;
        text-align: center;
      }

    
}